#form {
    margin: auto;
    padding-top: 100px;
    max-width: 1000px;
    min-height: 50vh;
    color: red;
    }

#form h1 {
    color: white;
}
.product-item-meta {
    margin: auto;
    padding-top: 10px;
    max-width: 700px;
    min-height: 40vh;
    color: red;
}
